<div class="sidebar flex-shrink-0 px-3">
  <div class="overflow-y-auto position-fixed h-100" style="width: 220px">
    <ul class="list-unstyled ps-0">
      {{ $currentSection := .CurrentSection -}}
      {{ range .Site.Sections -}}
        {{ $id := .File.Path | strings.TrimSuffix "/_index.md" | lower | printf "sidebar-%s" -}}
        <li class="mb-1">
          <button
            class="btn btn-toggle align-items-center rounded{{ if ne $currentSection . }}
              collapsed
            {{ end }}"
            data-bs-toggle="collapse"
            data-bs-target="#{{ $id }}"
            aria-expanded="{{ eq $currentSection . }}"
          >
            {{ or .Title .RelPermalink }}
          </button>
          <div
            class="collapse{{ if eq $currentSection . }} show{{ end }}"
            id="{{ $id }}"
          >
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              {{ range .Pages -}}
                <li>
                  <a
                    href="{{ .RelPermalink }}"
                    class="link-body-emphasis text-decoration-none rounded"
                  >
                    {{ or .Title .RelPermalink }}
                  </a>
                </li>
              {{ end -}}
            </ul>
          </div>
        </li>
      {{ end -}}
    </ul>
  </div>
</div>
