<div class="sidebar flex-shrink-0 px-3">
  <div class="overflow-y-auto position-fixed h-100" style="width: 220px">
    <div class="search-area">
      <form action=""></form>
    </div>
    <ul class="list-unstyled ps-0">
      {{ $page := .Page }}
      {{ $currentSection := .CurrentSection }}
      {{ $sections := slice }}
      {{ range .Ancestors.Reverse }}
        {{ if len .Sections | ne 0 }}
          {{ $sections = .Sections }}
        {{ end }}
      {{ end }}
      {{ if len .Sections | ne 0 }}
        {{ $sections = .Sections }}
      {{ end }}
      {{ range $index, $sect := $sections -}}
        {{ $id := printf "sidebar-%d" $index -}}
        <li class="mb-1">
          <button
            class="btn btn-toggle align-items-center rounded{{ if ne $currentSection . }} collapsed{{ end }}"
            data-bs-toggle="collapse"
            data-bs-target="#{{ $id }}"
            aria-expanded="{{ eq $currentSection . }}"
          >
            {{ or $sect.Title $sect.RelPermalink }}
          </button>
          <div
            class="collapse {{ if eq $currentSection . }}show{{ end }}"
            id="{{ $id }}"
          >
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
              <a
                class="link-body-emphasis text-decoration-none rounded"
                href="{{ $sect.RelPermalink }}"
                title="{{ $sect.Title }}"
              >
                Overview
              </a>
              {{ range $sect.Pages -}}
                <li>
                  <a
                    href="{{ .RelPermalink }}"
                    class="link-body-emphasis text-decoration-none rounded{{ if .Params.deprecated }} text-decoration-line-through{{ end }}{{ if eq $page . }} active{{ end }}"
                  >
                    {{ or .Title .RelPermalink }}
                  </a>
                </li>
              {{ end -}}
            </ul>
          </div>
        </li>
      {{ end -}}
    </ul>
  </div>
</div>
