<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ if not .IsHome | and .Title }}
        {{ printf "%s - %s" .Title .Site.Title }}
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </title>
    <meta name="description" content="{{ .Summary }}" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self' https://cdn.jsdelivr.net; style-src 'self' https://cdn.jsdelivr.net; img-src 'self' data:;"
    />
    <link rel="prefetch" href="/index.json" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    {{ $opts := dict "transpiler" "dartsass" -}}
    {{ $style := resources.Get
      "css/style.scss" | toCSS $opts | minify | fingerprint
    -}}
    <link
      rel="stylesheet"
      href="{{ $style.RelPermalink }}"
      integrity="{{ $style.Data.Integrity }}"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0/dist/fuse.min.js"
      integrity="sha256-42IbU8t3tOwwbexB7ZVRHm3YDRf65aBPPjRtIUufj5I="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-core.min.js"
      integrity="sha256-4mJNT2bMXxcc1GCJaxBmMPdmah5ji0Ldnd79DKd1hoM="
      crossorigin="anonymous"
    ></script>
    <!-- Include highlighting for Java -->
    <script
      src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-clike.min.js"
      integrity="sha256-x2uk4kCTK9x1VGvjDlUPW6XhOBX/cVEcduniesMHJEQ="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-java.min.js"
      integrity="sha256-TC3IHfye+lHjinVzk4BlKIxjxkhQ8Boy+KeyCj4kxac="
      crossorigin="anonymous"
    ></script>
    {{ $scarpet := resources.Get "js/scarpet.js" -}}
    {{ $theme := resources.Get "js/theme.js" -}}
    {{ $search := resources.Get "js/search.js" -}}
    {{ $bundle := slice $scarpet $theme $search | resources.Concat
      "js/bundle.js" | minify | fingerprint
    -}}
    <script
      src="{{ $bundle.RelPermalink }}"
      integrity="{{ $bundle.Data.Integrity }}"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="d-md-flex container-xxl">
      {{ partial "sidebar/sidebar.html" . }}
      <div class="w-100">
        <nav aria-label="breadcrumb" class="container my-4 w-100 border-bottom">
          <ol class="breadcrumb french-quote-breadcrumb-divider">
            {{ range .Ancestors.Reverse }}
              <li class="breadcrumb-item">
                <a class="link-body-emphasis" href="{{ .RelPermalink }}">
                  {{ .LinkTitle }}
                </a>
              </li>
            {{ end }}
            <li class="breadcrumb-item active">
              <a
                class="link-body-emphasis"
                href="{{ .RelPermalink }}"
                aria-current="page"
              >
                {{ .LinkTitle }}
              </a>
            </li>
          </ol>
        </nav>
        {{ block "page" . }}{{ end }}
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
