{{ define "page" }}
  <article
    class="container-fluid"
    data-bs-spy="scroll"
    data-bs-target="#TableOfContents"
    data-bs-smooth-scroll="true"
  >
    <div
      class="d-md-flex mb-4 flex-md-row align-items-center justify-content-between"
    >
      <header>
        <h1 id="content-title">
          {{ or .Title .RelPermalink }}
        </h1>
      </header>
      <a
        class="btn btn-outline-secondary btn-sm"
        href="{{ .Site.Params.repository }}/blob/main/content/{{ .File.Path }}?plain=1"
        title="File: {{ .File.Path }} (Opens in a new tab)"
        target="_blank"
        >View on GitHub</a
      >
    </div>
    {{ "### Syntax" | markdownify -}}
    {{ partial "syntax/syntax.html" . }}
    {{ if .Params.deprecated }}
      <div class="alert alert-warning" role="alert">
        {{ .Params.deprecated | markdownify }}
      </div>
    {{ end }}
    {{ .Content }}
    <div class="container pt-4">
      <div class="alert alert-dark">
        <h4>Found a problem with this page?</h4>
        <ul>
          <li>
            <a
              href="{{ .Site.Params.repository }}/blob/main/content/{{ .File.Path }}?plain=1"
              title="File: {{ .File.Path }} (Opens in a new tab)"
              target="_blank"
              rel="noopener noreferrer"
            >
              View the source on GitHub
            </a>
          </li>
          <li>
            <a
              href="{{ .Site.Params.repository }}/edit/main/content/{{ .File.Path }}"
              title="Edit file: {{ .File.Path }} (Opens in a new tab)"
              target="_blank"
              rel="noopener noreferrer"
            >
              Edit this page on GitHub
            </a>
          </li>
        </ul>
      </div>
    </div>
  </article>
{{ end }}
