---
layout: default
---

<h1><code>{{ page.title | downcase }}</code></h1>
{% if page.signatures %}<pre><code class="language-scarpet">
{%- for signature in page.signatures -%}
{{ page.title | downcase }}({% for param in signature.params %}{% unless forloop.first %}, {% endunless %}{% if param.rest %}...{% endif %}{{ param.name }}{% endfor %}) -> {% if signature.returns %}{{ signature.returns }}{% else %}...{% endif %}
{% endfor %}</code></pre>
{% elsif page.params %}
<pre><code class="language-scarpet">{{ page.title | downcase }}({% for param in page.params %}{% unless forloop.first %}, {% endunless %}{{ param.name }}{% endfor %}) -> ...
</code></pre>
{% endif %}

<div id="markdown-container">{{ content }}</div>
